<div class="container">
  <div class="row">
    <div class="col-md-12 mt-md-5">
      <h2>
        <mark class="bg-secondary text-light">ログイン
        </mark>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto mt-md-5">
      <div class="ml-md-5">
        <p>
          <mark class="bg-secondary text-light">・会員の方はこちらからログイン</mark>
        </p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-md-2">
            <%= f.label :email, "メールアドレス", class: "col-md-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder =>"例：sample@example.com", size: 30 %>
          </div>
          <div class="mb-2">
            <%= f.label :password, "パスワード", class: "col-md-2"%>
            <%= f.password_field :password, autocomplete: "current-password", size: 30 %>
          </div>
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "message_type offset-md-2", style: "color: red;" %>
          <% end %>
          <%= f.submit "ログイン", class: "btn btn-primary offset-md-2"%>
        <% end %>
        <div class="mt-md-5">
          <p>
            <mark class="bg-secondary text-light">・会員登録がお済みでない方</mark>
          </p>
          <p>
            <%= link_to "こちら", new_user_registration_path %>からログインしてください。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>