<header>
    <div class="container">
        <span class="ml-3 text-left">ようこそ、<%= current_customer.name %>さん！</span>
      <% elsif admin_signed_in? %>
        <%= link_to admin_customers_path do %>
          <%= image_tag 'KOKURUBA_logo', size: "70x70" %>
        <% end %>
        <span class="ml-3 text-left">管理者ログイン中</span>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'KOKURUBA_logo', size: "70x70" %>
        <% end %>
        <span class="ml-3 text-left">ゲストユーザー</span>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"  style="background-color: #BDB76B;">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto av-link text-light btn">
        <% if customer_signed_in? %>
          <li>
            <%= link_to "マイページ", customer_path(current_customer), class: "nav-link text-light btn" %>
          </li>
          <li>
            <%= link_to "マップ検索", map_search_posts_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "スポット投稿", new_post_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "スポット一覧", posts_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "お気に入り一覧", favorites_list_posts_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-light btn ml-2" %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to "会員一覧", admin_customers_path, class: "nav-link text-light btn" %>
          </li>
          <li>
            <%= link_to "スポット一覧", admin_posts_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "コメント一覧", post_comments_list_admin_posts_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "エリア一覧", admin_areas_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "タグ一覧", admin_tags_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-light btn ml-2" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Home", root_path, class: "nav-link text-light btn" %>
          </li>
          <li>
            <%= link_to "About", homes_about_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%=  link_to "マップ検索", map_search_posts_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%=  link_to "スポット一覧", posts_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-light btn ml-2" %>
          </li>
          <li>
            <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-light btn ml-2" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>